main.login-content {
    min-height: calc(100vh - 91px);
    display: flex;
    justify-content: center;
    align-items: center;
}
main.login-content > div {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 30vw;
    justify-content: space-around;
}
