main.post-content {
    min-height: calc(100vh - 91px);
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.post-content > .update-post {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 60vh;
}
main.post-content > .update-post > textarea {
    width: 500px;
    height: 210px;
}
main.post-content > .comments {
    width: 100%;
}
main.post-content > .comments > h2 {
    text-align: center;
    font-family: "Good Times";
    font-size: 30px;
}
main.post-content > .comments > .comment {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #200000;
}
main.post-content > .comments > .comment > h3 {
    font-size: 24px;
    margin: 0;
}